clip @ git+https://github.com/openai/CLIP.git
einops
numpy
open-clip-torch
opencv-python
pillow
scipy
timm
tokenizers
torch
wandb
torchaudio
torchdata
torchmetrics
torchvision
huggingface-hub
tqdm
transformers
urllib3
xformers
streamlit-keyup
lpips
clean-fid
peft
dominate
diffusers==0.25.1
gradio==3.43.1
vision_aided_loss
huggingface_hub==0.25.0